@import url('https://fonts.googleapis.com/css2?family=PT+Serif&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* .bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: #d7f3d099 !important;
} */
.padding-100 {
    padding-top: 100px;
}

.margin-10 {
    margin-top: 0.625em;
}

.margin-25 {
    margin-top: 1.563em;
}

.margin-50 {
    margin-top: 3.125em;
}

.margin-100 {
    margin-top: 6.25em;
}

.margin-200 {
    margin-top: 12.25em;
}

.gap-20 {
    gap: 1.25em;
}

.gap-50 {
    gap: 3.125em;
}

.bold {
    font-weight: bold;
}

.our-button {
    width: 13.375em;
    height: 3.725em;
    border-radius: 20px;
    background-color: #5f2ba3;
    color: white;
    font-size: 10px;
    align-items: start;
}

.plan-list ul {
    padding-left: 1.25px;
}

.plan-list ul li::before {
    content: "+";
    display: inline-block;
    width: 1.25em;
    text-align: center;
    color: #6D469F;
    font-weight: bold;

}

.button:hover {
    background-color: #69C54D;
    color: #FFFFFF;
    border-color: #69C54D;
}

ul {
    list-style-type: none;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black !important;
}

.center {
    text-align: center;
}

/*-----Colors------*/

.purple-main {
    color: #6D469F;
}

.purple-mid {
    color: #8160AD;
}

.purple-low {
    color: #B4A2CF;
}

.blue-logo {
    color: #04b2d9;
}

.blue-main {
    color: #23BDE1;
}

.blue-light {
    color: #7fd8f1;
}

.green-main {
    color: #69c54d;
}

.green-mid {
    color: #80ce68;
}

.green-low {
    color: #d3eec9;
}

.green-light {
    color: #EDF8EA;
}

.navy-Blue-Main {
    color: #2e2c6e;
}

.gray {
    color: #878787;
}

.whilte {
    color: #FFFFFF;
}

.orange-main {
    color: #f89940;
}

.black {
    color: #2E2E2E;
}

.bg-primary {
    background-color: #d7f3d099 !important;
}

.bg-secondry {
    background-color: #6D469F !important;
}

/*-----font sizing------*/
h1 {
    font-size: 3.25em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h2 {
    font-size: 3em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h3 {
    font-size: 2.375em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h4 {
    font-size: 1.75em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h5 {
    font-size: 1.25em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

h6 {
    font-size: 0.75em;
    font-family: 'PT Serif', serif;
    font-weight: 300;
}

p {
    font-size: 0.8rem;
    font-family: 'Inter', sans-serif;
}

i {
    font-size: 1.875em;
}

li {
    font-family: 'PT Serif', serif;
    font-size: 1em;
}

/*AllImages  */

.AllImages {
    justify-content: space-evenly;
}

.AllImages .img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: url(./images/doctory.jpg) no-repeat top center / cover;
    position: relative;
    border: 2px solid white;
    box-shadow: 0px 0px 3px rgba(0, 0, 0);
    background-size: 80%;
    background-color: white;
    background-position: bottom;
    margin: auto;
}

.AllImages .img::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 98%;
    height: 98%;
    /* background-color: blue; */
    border: 6px solid #5f2ba3;
    border-radius: 50%;
    opacity: 0.8;
}

.divider {
    border-top: 2px solid #F89940;
    width: 50%;
    align-self: center;
    margin: 2%;
    position: relative;
    left: 25%;
    right: 25%;
}

.sliding {
    justify-content: center;
}

.sliding #nav-slider {
    width: 30px;
    height: 42;
    margin: 0 0.625em;
    opacity: 0.5;
}

.sliding #nav-slider:hover {
    transition: ease-in-out 0.5s;
    opacity: 1;
}

/*  */
.wd-100 {
    width: 100% !important;
}

.button_LearnMore {
    font-weight: bold;
    font-size: 12px;
    width: 12.375em;
    height: 3.725em;
    background-color: white;
    display: inline-block;
    padding: 3px 8px;
    border: 1px solid #6D469F;
    border-radius: 30px;
    text-decoration: none;
    color: #000000;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.button_LearnMore:hover {
    background-color: #6D469F;
    color: #FFFFFF;
    border-color: #6D469F;
}

/* The Right Starting Point */
.flat-toggle {
    width: 2em;
    border-radius: 4px;
    height: 0.375em;
    background-color: #DDD;
    position: relative;
    margin: 1.25em 0;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.flat-toggle:after {
    border-radius: 100%;
    background-color: #ADADAD;
    position: absolute;
    left: 0;
    top: -5px;
    width: 0.938em;
    height: 0.938em;
    content: '';
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translateX(0);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
}

.flat-toggle>span {
    margin-left: 4.375em;
    top: -0.75em;
    position: relative;
    color: #666;
    white-space: nowrap;
    display: block;
    cursor: pointer;
}

.flat-toggle:hover {
    cursor: pointer;
}

.flat-toggle:hover span {
    color: black;
    cursor: pointer;
}

.flat-toggle.on {

    background-color: #6D469F;
    transform: translate3d(0, 0, 0);
}

.flat-toggle.on:hover span {
    color: #6D469F;
    cursor: pointer;
}

.flat-toggle.on:after {
    background-color: #6D469F;
    -webkit-transform: translate(1.063em);
    -ms-transform: translate(1.063em);
    transform: translateX(1.063em);
}

.flat-toggle.on>span {
    color: #000000;
}

/*  */


@media (min-width: 576px) {}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {}